<div class="navbarFooter">  
<div class="navBar">

        <div class="navBar-left">
                <a href="https://itunes.apple.com/us/app/life-hashtag-your-life/id904884186" class="navBar-download">< Get the App</a>
        </div>

        <div class="navBar-center">
                <img src="/images/logo.png" class="navBar-logo"  />
        </div>

        <div class="navBar-right">
                <div class="navbar-social">

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>

                </div>
        </div>  
</div>

</div>
  </body>
</html>
